<div class="row">
  <div class="col-md-5">
    <div class="login">
      <div class="box-header">
        <img class="logo" src="../../../assets/img/logoMarcaTFMC.png" />
      </div>
      <form #form="ngForm" (ngSubmit)="login()">
        <div class="alert alert-error" role="alert" *ngIf="message">
          <strong>E-mail ou senha inválido</strong>
        </div>
        <div class="box-body">
          <div [ngClass]="getFormGroupClass(email.invalid, email.dirty)">
            <div class="form-group">
              <label for="inputEmail3">Email</label>
              <div class="form-group">
                <input
                  type="email"
                  [(ngModel)]="user.email"
                  name="email"
                  class="form-control"
                  id="inputEmail3"
                  #email="ngModel"
                  placeholder="Email"
                  email
                />
                <span class="help-block" *ngIf="email.invalid && email.dirty"
                  >E-mail é inválido</span
                >
              </div>
            </div>
            <div
              [ngClass]="getFormGroupClass(password.invalid, password.dirty)"
            >
              <div class="form-group"></div>
              <label for="inputPassword">Senha</label>

              <input
                type="Password"
                [(ngModel)]="user.senha"
                class="form-control"
                name="password"
                id="inputPassword"
                #password="ngModel"
                placeholder="Password"
                required
              />
              <span
                class="help-block"
                *ngIf="password.invalid && password.dirty"
                >Password é necessário</span
              >
            </div>
          </div>
          <button
            type="submit"
            [disabled]="!form.valid"
            class="btn btn-primary pull-right"
          >
            Login
          </button>
        </div>
          
      </form>
    </div>
  </div>
  <div class="col-md-7">
    <img class="imagem" src="../../../assets/img/login.jpg" />
  </div>
</div>
