<div class="box box-default">
  <div class="box-header with-border" >
    <h2>Entrada de Nota Fiscal</h2>
  </div>
  <div class="box-body">
    <div class="row">      
      <div class="form-group col-md-4">
        <label>Nota fiscal</label>
        <input type="text" [(ngModel)]="notaFiscal.numeroNotaFiscal" #nome="ngModel" name="numeroNotaFiscal"
          id="numeroNotaFiscal" class="form-control" placeholder="Informe o Nº da Nota Fiscal">
      </div>
      <div class="form-group col-md-4">
        <label>Emissor</label>
        <input type="text" class="form-control" [(ngModel)]="notaFiscal.emissor" #nome="ngModel" name="emissor"
          id="emissor" placeholder="Informe o Emissor">
      </div>     
      <div class="form-group col-md-4">
        <label>Data de Entrada</label>

          <input type="date" class="form-control" [ngModel]="notaFiscal.dataEntrada | date:'yyyy-MM-dd'" 
                 (ngModelChange)="notaFiscal.dataEntrada = $event">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <label>Setor Destino</label>
        <input type="text" [(ngModel)]="notaFiscal.setorDestino" #nome="ngModel" name="setorDestino" id="setorDestino"
          class="form-control" placeholder="Informe o Setor Destino">
      </div>
      <div class="form-group col-md-4">
        <label>Origem</label>
        <input type="text" [(ngModel)]="notaFiscal.origem" #nome="ngModel" name="origem" id="origem"
          class="form-control" placeholder="Informe a Origem">
      </div>
      <div class="form-group col-md-4">
        <label>RT</label>
        <input type="text" [(ngModel)]="notaFiscal.rt" #nome="ngModel" name="rt" id="rt" class="form-control"
          placeholder="Informe o Nº da RT">
      </div>
    </div>
    <div class="row">
      
      <div class="form-group col-md-4">
        <label>Transportadora</label>
        <input type="text" [(ngModel)]="notaFiscal.transportadora" #nome="ngModel" name="transportadora"
          id="transportadora" class="form-control" placeholder="Informe a Transportadora">
      </div>
      <div class="form-group col-md-4">
        <label>Chave NF</label>
        <input type="text" [(ngModel)]="notaFiscal.chaveNf" #nome="ngModel" name="chaveNf" id="chaveNf"
          class="form-control" placeholder="Informe a Chave da Nota Fiscal">
      </div>
      <div class="form-group col-md-4">
        <label>Contrato</label>
        <input type="text" [(ngModel)]="notaFiscal.contrato" #nome="ngModel" name="contrato" id="contrato"
          class="form-control" placeholder="Informe o Nº do Contrato">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label>Observação</label>
        <textarea [(ngModel)]="notaFiscal.observacao" #nome="ngModel" name="observacao" id="observacao"
          class="form-control" rows="3" placeholder="Informe Observação..."></textarea>
      </div>
    </div>
    <div class="box box-default">
      <div class="box-header with-border" >
        <h2>Equipamentos</h2>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="input-group-sm col-md-2">
            <label>Part Number</label>
            <input type="text" class="form-control" placeholder="" value="P700002154"
              [(ngModel)]="equipamento.partNumber">
          </div>
          <div class="input-group input-group-sm col-md-4">
            <label>Numero de série</label>
            <input type="text" class="form-control" placeholder="" value="FC-35" [(ngModel)]="equipamento.serialNumber">
            <span class="input-group-btn" style="padding-top: 23px;">
              <button type="button" data-toggle="modal" #openModal data-target="#equipamentoModal" hidden></button>
                <button type="button" class="btn btn-info btn-flat"
                (click)="buscarEquipamento()">Inserir Item</button>

            </span>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="box-body no-padding">
          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-responsive no-padding table-striped">
              <tbody>
                <tr>                 
                  <th style="width: 10px">Número de série</th>
                  <th style="width: 10px">Part Number</th>
                  <th style="width: 40px">Descrição</th>
                  <th style="width: 20px">Cliente</th>
                  <th style="width: 10px"></th>
                </tr>
                <tr *ngFor="let item of notaFiscal.equipamentos; let i = index">                 
                  <td class="mailbox-subject">{{item.serialNumber}}</td>
                  <td class="mailbox-subject">{{item.partNumber}}</td>
                  <td class="mailbox-subject">{{item.descricao}}</td>
                  <td class="mailbox-subject">{{item.cliente.nome}}</td>
                  <td>
                    <button type="button" (click)="removeEquipamento(i, item.id)"
                      class="btn btn-danger btn-flat">Remover</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <br>
  <button type="button" (click)="salvarNota()" class="btn btn-success btn-block">Salvar</button>
</div>

<!---------------------------------Modal----------------------------------------------->

<div id="equipamentoModal" class="modal fade" role="dialog" tabindex="-1" [ngStyle]="{'display': display}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button #closeBtn type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">ITEM</h4>
      </div>
      <div class="modal-body">
        <div class="box-body">
          <div class="row">
            <div class="form-group col-md-4">
              <label>NS</label>
              <input type="text" [(ngModel)]="equipamento.serialNumber" class="form-control" placeholder=" EX. 125482">
            </div>
            <div class="form-group col-md-4">
              <label>NP</label>
              <input type="text" [(ngModel)]="equipamento.partNumber" class="form-control" placeholder="EX. P700002152">
            </div>
            <div class="form-group col-md-4">
              <label>Cliente</label>
              <select [(ngModel)]="equipamento.cliente.id" class="form-control">
                <option *ngFor="let item of clientes" [value]="item.id">{{item.nome}}</option>
              </select>
            </div>
            
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label>Conta Jurídica</label>
              <input type="text" [(ngModel)]="equipamento.contratoJuridico" class="form-control" placeholder=" EX. xxxxxx">
            </div>
            <div class="form-group col-md-4">
              <label>Contrato SAP</label>
              <input type="text" [(ngModel)]="equipamento.contSap" class="form-control" placeholder="EX. xxxxxxxx">
            </div>
            <div class="form-group col-md-4">
              <label>TAG</label>
              <input type="text" [(ngModel)]="equipamento.tag" class="form-control" placeholder="EX. PETROBRÁS">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label>Descrição</label>
              <textarea [(ngModel)]="equipamento.descricao" class="form-control"
                placeholder="EX. SKID DE TRANSPORTE"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-default pull-left" (click)="closeModal()">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="incluirEquipamento()">Incluir</button>
      </div>
    </div>
  </div>
</div>