<div class="box box-default">
  <div class="box-header with-border">
    <h2>Gerar Ordem de Serviço</h2>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-xs-2">
        <label>Número equipamento</label>
        <input type="text" class="form-control" placeholder="" value="125482">
      </div>
      <div class="col-xs-5">
        <label>Descrição</label>
        <input type="text" class="form-control" placeholder="" value="SKID DE TRANSPORTE">
      </div>
      <div class="col-xs-3">
        <label>NP</label>
        <input type="text" class="form-control" placeholder="" value="P700002152">
      </div>
      <div class="col-xs-2">
        <label>Ordem de Serviço</label>
        <input type="text" class="form-control" placeholder="" value="166541">
      </div>
    </div><br>
    <div class="row">
      <div class="col-xs-2">
        <label>NS</label>
        <input type="text" class="form-control" placeholder="" value="FC-452">
      </div>
      <div class="col-xs-2">
        <label>Cliente</label>
        <input type="text" class="form-control" placeholder="" value="PETROBRÁS">
      </div>
      <div class="col-xs-3">
        <label>Origem</label>
        <input type="text" class="form-control" placeholder="" value="ARM-RIO">
      </div>
      <div class="col-xs-2">
        <label>RT</label>
        <input type="text" class="form-control" placeholder="" value="31254525">
      </div>
      <div class="col-xs-3">
        <label>Nota Fiscal</label>
        <input type="text" class="form-control" placeholder="" value="314525">
      </div>
    </div><br>
    <div class="row">
      <div class="col-xs-2">
        <label>Data de entrada</label>
        <input type="date" class="form-control" placeholder="" value="FC-452">
      </div>
      <div class="col-xs-2">
          <label>Localização</label>
          <input type="text" class="form-control" placeholder="" value="BOX-195">
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-success btn-block">GERAR OS</button>
  </div>
</div>