<h1 class="Titulo">Notas Fiscais</h1>
<app-loading *ngIf="!loading"></app-loading>

<div class="row filtros" *ngIf="loading">
  <div class="col-md-4">
    <div class="form-group">
      <label>Transportadora</label>
      <select [(ngModel)]="filtroTransportadora" (change)="filtrarTransportadora()" class="form-control select2" style="width: 100%;">
        
        <option  *ngFor="let item of filtros.transportadoras" [value]="item.nome">{{item.nome}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Setor destino</label>
      <select [(ngModel)]="filtroSetorDestino" (change)="filtrarSetorDestino()" class="form-control select2" style="width: 100%;">
        
        <option *ngFor="let item of filtros.setorDestinos; let i = index" [value]="item.nome">{{item.nome}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Cliente</label>
      <select [(ngModel)]="filtrocliente" (change)="filtrarCliente()"  class="form-control select2" style="width: 100%;">
        
        <option *ngFor="let item of filtros.clientes" [value]="item.nome">{{item.nome}}</option>
      </select>
    </div>
  </div>
</div>
<section *ngIf="loading" class="content">
  <div class="box box-default">
    <div class="box-header with-border">
      <button
        type="button"
        [routerLink]="['/new_nota_fiscal']"
        class="btn btn-success btn-novo"
      >
        Nova inspeção</button
      ><br /><br />

      <div class="box-tools pull-right">
        <div class="has-feedback">
          <input
            type="text"
            class="form-control input-sm"
            placeholder="Procurar..."
            [(ngModel)]="filtroAll"
            (change)="listNotaFiscalFiltroString()"
          />
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
      </div>
    </div>

    <div class="box-body notaFiscal" *ngFor="let notaFiscal of notasFiscais">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-12 col-xl-12">
            <div class="card-body">
              <div class="row linha-titulo">
                <div class="col-md-4 col-xl-4 nota-fiscal-descricao">
                  <p>
                    <strong>Nota Fiscal: </strong
                    >{{ notaFiscal.numeroNotaFiscal }}
                  </p>
                </div>

                <div class="col-md-4 col-xl-4">
                  <strong>Data de entrada: </strong>{{ notaFiscal.dataEntrada | date: 'dd/MM/yyyy' }}
                </div>

                <div class="col-md-4 col-xl-4">
                  <div class="btn-group pull-right">
                    <button type="button" class="btn btn-acao">Ação</button>
                    <button
                      type="button"
                      class="btn btn-acao dropdown-toggle"
                      data-toggle="dropdown"
                    >
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <a
                          style="cursor: pointer;"
                          (click)="editarNotaFiscal(notaFiscal.id)"
                          >Editar</a
                        >
                      </li>
                      <li>
                        <a
                          style="cursor: pointer;"
                          (click)="removerNotaFiscal(notaFiscal.id)"
                          >Remover</a
                        >
                      </li>
                      <li><a style="cursor: pointer;">Aprovar</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row conteudo-texto">
                <div class="col-md-6 col-lg-6">
                  <p>
                    <strong>Setor destino: </strong>{{ notaFiscal.setorDestino }}
                  </p>
                </div>
                <div class="col-md-6 col-lg-6">
                  <p><strong>Origem: </strong>{{ notaFiscal.origem }}</p>
                </div>

                <div class="col-md-6 col-lg-6">
                  <p>
                    <strong>Transportadora: </strong
                    >{{ notaFiscal.transportadora }}
                  </p>
                </div>
                <div class="col-md-6 col-lg-6">
                  <p><strong>RT: </strong> {{ notaFiscal.rt }}</p>
                </div>
              </div>

              <div class="row equipamentos">
                <div
                  *ngFor="let item of notaFiscal.equipamentos"
                  class="badge badge-primary col-md-4 col-lg-4 col-xl-4"
                >
                  <div class="col-md-12 col-lg-12 col-xl-12">
                    <p><strong>DESCRIÇÃO: </strong>{{ item.descricao }}</p>
                    <div class="row">
                      <div class="col-md-6 col-lg-6 col-xl-6">
                        <p><strong>PN:</strong>{{ item.partNumber }}</p>
                      </div>
                      <div class="col-md-6 col-lg-6 col-xl-6">
                        <p><strong>NS:</strong>{{ item.serialNumber }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="javascript:void(0)" (click)="paginar('anterior')">&laquo;</a></li>
        <li><a href="javascript:void(0)" (click)="paginar('proximo')">&raquo;</a></li>
      </ul>
      <!-- <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="javascript:void(0)" (click)="paginar('anterior')">&laquo;</a></li>
        <li><a href="javascript:void(0)" (click)="paginar(page)">{{page + 1 }}</a></li>
        <li><a href="javascript:void(0)" (click)="paginar(page + 1)" *ngIf="totalPages >= page + 2" >{{page + 2}}</a></li>
        <li><a href="javascript:void(0)" (click)="paginar(page + 2)" *ngIf="totalPages >= page + 3" >{{page + 3}}</a></li>
        <li><a href="javascript:void(0)" (click)="paginar('proximo')">&raquo;</a></li>
      </ul> -->
    </div>
  </div>
</section>

<!---------------------------------Modal----------------------------------------------->
<!--
<div id="gerarOrdemModal" class="modal fade" role="dialog" tabindex="-1" [ngStyle]="{'display': display}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ordem de serviço</h4>
      </div>

      <div class="modal-body">
        <div class="box-body">
          <div class="row">
            <div class="form-group col-md-4">
              <label>Ordem</label>
              <input type="text" [(ngModel)]="ordemServico.numeroOrdem" class="form-control" placeholder=" EX. 125482">
            </div>
            <div class="form-group col-md-4">
              <label>Tempo</label>
              <input type="text" [(ngModel)]="ordemServico.tempoServico" class="form-control" placeholder="EX. 1,00">
            </div>
            <div class="form-group col-md-4">
              <label>Nº Relatório</label>
              <input type="text" [(ngModel)]="ordemServico.numeroRelatorio" class="form-control" placeholder="1755521">
            </div>
          </div>
            <div class="form-group">
              <label>WBS</label>
              <select class="form-control">
                <option>------Selecione WBS---</option>
                <option>SS-Q_INSV-00-9-00-01-ANM</option>
                <option>SS-Q_INSV-00-9-00-01-FRT</option>
                <option>SS-Q_INSV-00-9-00-01-RSR</option>
                <option>SS-Q_INSV-00-9-00-01-SCM</option>
                <option>SS-Q_INSV-00-9-00-01-HDS</option>
              </select>
            </div>    
          <div class="row">
            <div class="form-group col-md-12">
              <label>Descrição</label>
              <input type="text" [(ngModel)]="ordemServico.descricaoOrdem" class="form-control"
                placeholder="EX. SKID DE TRANSPORTE">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" (click)="fecharModalEquipamento()">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="salvarOrdem()">Salvar</button>
      </div>
    </div>
  </div>
</div>-->
